body{
    background-color: rgb(188, 133, 133);
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    background-color: blue;
    color: brown;
    text-shadow: 2px 2px chocolate;
    position: relative;
    bottom: 50px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    background-color: blue;
    color: brown;
    text-shadow: 2px 2px chocolate;
    position: absolute;
    left:50px;
}