*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
.box-main{
    padding: 0;
    margin: 0;
    display: flex;
    
    min-height: 100vh;
}
.box-main .box-main-element{
    min-height: 100vh;
    width: 50%;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
}
.box-main .content{
    padding: 5%;
    display: flex;
    flex-direction: column;
    background-color: #6D9773;
}
.box-main .content .title-main{
    margin-left: 5%;
    color: aliceblue;
    font-size: 4em;
}
.box-main .content ul{
    margin-top: 15%;
}
.box-main .content ul li{
    text-align: left;
    list-style: none;
    align-items: center;
    text-decoration: none;
    font-size: 2.2em;
    color: aliceblue;
}

.box-main .image img{
    width: 100%;
    max-width: 50vw;
    height: auto;
}